.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 425px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 323px;
  width: 570px;
  margin: 20px auto 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1129px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1003px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 322px;
  height: auto;
  width: 253px;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1021px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-custom-html-2 {
  min-height: 322px;
  height: auto;
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 1003px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px 30px 0;
}

.u-section-2 .u-custom-html-3 {
  min-height: 322px;
  height: auto;
  margin: 629px 187px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 827px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 187px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 842px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 247px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 827px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 127px;
    margin-right: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 633px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 173px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 645px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 173px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 633px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-right: 77px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2983px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1424px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1451px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 1424px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1919px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 897px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 914px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 897px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-right: 0;
  }
}